{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

    <h1>Hi, {{username}}!</h1>
    <br>
    <h2>Monthly Total</h2>
    <h3>{{ total }}</h3>
    <br>
    <h2>Quaterly Average Expenditure</h2>
    <h3>{{ average }}</h3>
    <br>
    <h2>Last 10 Entries</h2>
    <table class="center">
                
        <thead>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Category</th>
                <th>Mode</th>
                <th>Price</th>
                

            </tr>
        </thead>
        <tbody>
        
        {% for entry in entries %}
            <tr>
                <td>{{entry['date']}}</td>
                <td>{{entry['item']}}</td>
                 <td>{{entry['category']}}</td>
                <td>{{entry['mode']}}</td>
                <td>{{entry['price']}}</td>
            </tr>
        {% endfor %}    
{% endblock %}